body {
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1); /* Transparent white */
  backdrop-filter: blur(10px); /* Glass blur effect */
  -webkit-backdrop-filter: blur(30px); /* Safari support */
  color: rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 140, 255);
  position: sticky;
  top:0px;
}

html {
  scroll-behavior: smooth;
}

.logo span {
  font-size: 30px;
  font-weight: bold;
  transition: 0.3s;
  &:hover {
    color: rgb(0, 140, 255);
    cursor: pointer;
  }
}

.logo ,.menu-pc{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap:20px;
  color: rgb(0, 0, 0);
}

.menu-pc a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.menu-pc .cv {
  background-color: rgb(0, 140, 255);
  padding: 5px 10px 5px 10px;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 4px 0px 0px rgb(0, 86, 225);
  transition: 0.1s;
  &:hover {
    box-shadow: 0px 1px 0px 0px rgb(0, 86, 225);
    transform: translateY(3px);
    background-color: rgb(0, 110, 200);
  }
}

#cv {
  background-color: rgb(0, 140, 255);
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 4px 0px 0px rgb(0, 86, 225);
  transition: 0.1s;
  &:hover {
    background-color: rgb(0, 110, 200);
  }
}

.top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10000;
}

.main {
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding: 40px;
  align-items: center;
}

.icon img {
  height: 50vh;
}

.main .content span {
  color: rgb(0, 140, 255);
}

.main .content h3 {
  color: gray;
}




@media (max-width:720px) {
  nav .menu-pc {
    display: none;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .sections {
    display: flex;
    flex-direction: column;
    gap:20px;
    padding: 2vw;
    width: 100vw;
  }

  .sections .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  form input,textarea {
    min-width: 80vw;
  }

  form div {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .icon img {
    width: 60vw;
    height: auto;
  }
}
/*ENd of media query*/




.sections {
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding: 2vw 7vw;
  flex-direction: column;
  text-align: justify;
}

.sections h3 {
  color: rgb(0, 140, 255);
}

.sections .content {
  color: rgb(75, 75, 75);
}

.sections .skills {
  display: flex;
  gap:20px;
  flex-wrap: wrap;
}

.sections .content span {
  color: black;
}

.sections .skills span {
  background-color: white;
  padding: 8px 22px;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  transition: 0.3s;
  &:hover {
    background-color: rgb(0, 140, 255);
    color: white;
    cursor: pointer;
  }
}

.project-card {
  background-color: rgb(253, 253, 253);
  box-sizing: border-box;
  padding: 22px;
  flex-wrap: wrap;
  border-radius: 15px;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap:15px;
  border: 2px solid transparent;

}

.project-card .head {
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.project-card .details {
  color: rgb(86, 86, 86);
  flex-wrap: wrap;
}

.project-card div span {
  background-color: rgb(233, 250, 255);
  padding: 3px;
  border-radius: 3px;
  color: rgb(0, 140, 255);
  font-size: 13px;
}

.project-card div a {
  background-color: rgb(0, 140, 255);
  padding: 4px;
  text-decoration: none;
  color: white;
  border-radius: 6px;
  border: 2px solid rgb(0, 140, 255);
  transition: 0.3s;
  &:hover {
      color: rgb(0, 140, 255);
      background-color: white;
  }
  font-size: 13px;
}

.project-card:hover {
  border: 2px solid rgb(0, 140, 255);
  box-shadow: none;
}

.top {
  background-color: rgb(0, 140, 255);
  padding: 10px;
  border-radius: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  border: 0px;
  cursor: pointer;
  &:hover {
    background-color: rgb(0, 86, 225);
  }
}


.projects {
  display: flex;
  flex-direction: column;
  gap:40px;
}

.sections .contact span {
  background-color: white;
  padding: 8px 22px;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  transition: 0.3s;
  &:hover {
    background-color: rgb(0, 140, 255);
    color: white;
    cursor: pointer;
  }
}

.contact {
  display: flex;
  flex-wrap: wrap;
  gap:20px
}

#contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:20px;
  align-items: center;
}

form input,textarea {
  width: 50vw;
  resize: none;
  font-family: "Poppins";
  padding: 7px;
  border: 1.8px solid rgb(0, 0, 0);
  border-radius: 10px;
}

form div {
  display: flex;
  gap:20px;
}

form div input {
  width: 25vw;
  background-color: white;
  border: 1.8px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  transition: 0.3s;
  &:hover {
    background-color: rgb(0, 140, 255);
    color: white;
    cursor: pointer;
  }
}

footer {
  height: 50px;
  justify-content: center;
  display: flex;
  margin-top: 20px;
  align-items: center;
  border-top: 2px solid rgb(0, 140, 255);
}

.edu .clg {
  color: rgb(84, 84, 84);
}

.edu {
  background-color: rgb(253, 253, 253);
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  box-sizing: border-box;
  padding: 15px;
  border: 2px solid transparent;
  &:hover {
    box-shadow: none;
    border: 2px solid rgb(0, 140, 255);
  }
}

.thanks {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:10px;
}

.thanks a {
  background-color: rgb(0, 140, 255);
  padding: 5px 10px;
  border: 2px solid rgb(0, 140, 255);
  text-decoration: none;
  border-radius: 10px;
  color: white;
  transition: 0.3s;
  &:hover {
    background-color: white;
    color: rgb(0, 140, 255);
  }
}

.menu-pc a {
  border-bottom: 0px solid transparent;
  transition: 0.05s;
  &:hover {
    border-bottom: 2px solid rgb(0, 140, 255);
  }
}

.menu-pc .cv {
  border: 0px;
  &:hover {
    border: 0px;
  }
}